.bookmark-cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.bookmark-title {
    font-size: 24px;
    margin-bottom: 10px;
}
.bookmarks {
    border: 1px solid grey; 
    margin-bottom: 20px;
    padding: 20px;
}
.price {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.price-increase {
    background-color: #d1e7dd;
}

.price-decrease {
    background-color: #f8d7da;
}

.price-nochange {
   background-color: #cfe2ff;
}

.no-bookmarks {
    height: 60px;
    font-size: 20px;
}